<plugin id="org.dita-community.indirectortopic.preprocess">
  <!-- 
    
    Extends the link-generation preprocess phase to also handle 
    indirector links.
    
    
    -->
  
  <extension-point id="xsl.dcIndirectorTopicMaplink" 
    name="DITA Community Indirector Topic Maplink XSLT extensions"/>
  <extension-point id="xsl.dcIndirectorTopicTopicpull" 
    name="DITA Community Indirector Topic Maplink XSLT extensions"/>
  
  <require plugin="org.dita-community.common.xslt"/>
  
  
  <template file="xsl/indirectorTopicMaplink_template.xsl"/>
  <template file="xsl/indirectorTopicTopicpull_template.xsl"/>
  
  <feature extension="dita.xsl.maplink"
    file="xsl/indirectorTopicMaplink.xsl"
  />
  <feature extension="dita.xsl.topicpull"
    file="xsl/indirectorTopicTopicpull.xsl"
  />

  
</plugin>